.App {
  /* background-image: url(https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDV8fHdhbGx8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

  text-align: center;
  border: 3px solid crimson;
  background-color: white;
  padding: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
hr{
  width: 50%;
}
.product{
  font-size: 20px;
  width: 800px;
  display: flex;
  gap: 20px;
  text-align: start;
  line-height: 40px;
  margin-top: 20px;
}
img{
  width: 200px;
}
.blue{
  color: dodgerblue;
}
.profile{
  width: 35px;
}
.submit{
  color: grey;
}