.App{
  width: 300px;
  text-align: right;
  margin: 50px auto;
}
h1{
  text-align: center;
  background-color: hotpink;
  color: white;
}
h2{
  font-size: 30px;
  text-align: center;
  color: violet;
  background-color: oldlace;
}
#navbar{
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  padding: 10px;
}
#navbar a{
  color: white;
  text-decoration: none;
}